{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
  <br>
  <h1>Articles</h1>
  <hr>

  <a href="{% url 'articles:create' %}">[NEW]</a>
  <hr>
  {% for article in articles %}
  <p> 작성자 : {{ article.user }} </p>
  <p> [{{article.pk }}]번 글</p>
  <p> 제목 : {{ article.title }}</p>
    <div>
    {% comment %} {% bootstrap_button "DETAIL" button_type="button" button_class="btn-primary" %} {% endcomment %}
    </div>
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a> 
 
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
     <div>
    {% buttons submit='글삭제' %}
    {% endbuttons %}
    </div>
   <hr> 
  </form>

  {% endfor %}
{% endblock body %}