{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
  <br>
  <h1>Articles</h1>
  <hr>

  <a href="{% url 'articles:create' %}">[NEW]</a>
  <hr>
  <div class="row">
  {% for article in articles %}
    <!-- 모듈화 시켜둥 article 템플릿 가져오기 -->
    {% include 'articles/_article.html' %}
 
  {% comment %} <form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
     <div>
    {% buttons submit='글삭제' %}
    {% endbuttons %}
    </div>
   <hr> 
  </form> {% endcomment %}
  {% endfor %}
  <div>
{% endblock body %}