<!-- 상속 받는 코드 -->
{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">EDIT</h1>
<form action="{% url 'students:update' student.pk %}" method="POST">
<!-- POST 요청할 때 반드시 설정 -->
{% csrf_token %} 
  <label for = "name">이름</label>
  <input type="text" name="name" value="{{ student.name }}"><br>
  <label for = "age">나이</label>
  <input type="text" name="age" value="{{ student.age }}"><br>
  <label for = "email">이메일</label>
  <input type="email" name="email" value="{{ student.email }}"><br>
  <input type="submit">
</form>
<hr>
<a href="{% url 'students:detail' student.pk %}">[BACK]</a>
{% endblock %}