{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>04_django_form</title>
  <!-- bootstrap4 css 추가 -->
    {% bootstrap_css %}
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/930d9b7584.js" crossorigin="anonymous"></script>
</head>
<body>  
  <br>
  {% include 'articles/_nav.html' %}
  <div class="container">
    {% block body %}
    {% endblock body %}
  </div>

<!-- bootstrap4 javascript 추가 -->
  {% bootstrap_javascript jquery='full' %}

</body>
</html>