<!-- 상속 받는 코드 -->
{% extends 'base.html' %}

{% block body %}
<br>
<h1 class="text-center">DETAIL</h1>
<hr>
<!--
  article.image.url -> 파일주소
  article.image -> 파일이름(sample.png)
-->
<img src="{{ article.image.url }}" alt="{{ article.image }}">

<p>글 번호 : {{ article.pk }}</p>
<p>글 제목 : {{ article.title }}</p>
<p>글 내용 : {{ article.content }}</p>
<p>생성 시각 : {{ article.created_at }}</p>
<p>수정 시각 : {{ article.updated_at }}</p>
<hr>
<a href="{% url 'articles:index' %}">[BACK]</a>
<a href="{% url 'articles:update' article.pk %}">[EDIT]</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST" 
style="display:inline;" onclick="return confirm('진짜 삭제....?')">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>
<hr>

<!--  댓글 작성 Form -->
<form action="{% url 'articles:comments_create' article.pk %}" method="POST">
  {% csrf_token %}
  {% comment %} <input type="text" name="article"> {% endcomment %}
  <input type="text" name="content" style="width:500px;">
  <input type="submit" value="댓글작성">
</form>
<hr>
<br>
<h5>[ 댓글 목록 ]</h5><br>
<p>{{ comments|length }}개의 댓글이 있습니다.</p>
{% comment %} {{ article.comment_set.all|length }}
{{ comments.count }} {% endcomment %}

{% for comment in comments %}
<p>댓글 내용 : {{ comment.content }}</p>
<p>작성 날짜 : {{ comment.created_at }} </p>
<form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="댓글삭제">
</form>
<hr>
{% empty %}
  <p>댓글이 없는데요오ㅜㅜㅜ</p>
{% endfor %}
{% endblock %}