<!-- 상속 받는 코드 -->
{% extends 'base.html' %}

{% block body %}
  <h1 class="text-center">Articles</h1>
  <a href="{% url 'articles:create' %}">[NEW]</a>
  <hr>
  {% for article in articles %}
  <p> [{{article.pk }}] {{ article.title }}</p>
    {% comment %} <a href="/articles/{{article.pk }}">[DETAIL]</a> {% endcomment %}
    {% comment %} 장고에서 제공하는 url 템플릿 태그 사용 {% %} ,(콤마)없이 넘겨줄 값 입력  {% endcomment %}
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a> 
  <hr>
  {% endfor %}
{% endblock body %}