{% load static %}
<!-- 폴더 안에있는 스테틱 파일 찾아주는 코드 -->

{% comment %} {% %} <!-- 내장함수 -->
{{}}  <!-- 변수 --> {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Static 파일 실습</title>
  <link rel="stylesheet" href="{% static 'pages/stylesheets/sample.css' %}">
</head>
<body>
  <h1>정적 파일 출력을 실습해 봅시당~</h1>
  <img src="{% static 'pages/images/bg.jpg'%}" alt="">
  <img src="/static/pages/images/bg.jpg" alt="">
</body>
</html>