{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">영화 등록</h1>
<hr>
<form action="{% url 'movies:create' %}" method="POST">
<!-- POST 요청할 때 반드시 설정 -->
{% csrf_token %} 
 <div class="form-group row">
  <label for = "title" class="col-sm-2 col-form-label">영화명</label>
  <div class="col-sm-10">
    <input type="text" name="title">
  </div>
</div>
<div class="form-group row">
  <label for = "title_en" class="col-sm-2 col-form-label">영화명(영문)</label>
  <div class="col-sm-10">
    <input type="text" name="title_en">
  </div>
</div>
<div class="form-group row">
  <label for = "audience" class="col-sm-2 col-form-label">누적 관객수</label>
  <div class="col-sm-10">
    <input type="number" name="audience">
  </div>
</div>
<div class="form-group row">
  <label for = "open_date" class="col-sm-2 col-form-label">개봉일</label>
  <div class="col-sm-10">
    <input type="date" name="open_date" required>
  </div>
</div>
<div class="form-group row">
  <label for = "genre" class="col-sm-2 col-form-label">장르</label>
  <div class="col-sm-10">
    <input type="text" name="genre">
  </div>
</div>
<div class="form-group row">
  <label for = "watch_grade" class="col-sm-2 col-form-label">관람등급</label>
  <div class="col-sm-10">
    <input type="text" name="watch_grade">
  </div>
</div>
<div class="form-group row">
  <label for = "score" class="col-sm-2 col-form-label">평점</label>
  <div class="col-sm-10">
    <input type="number" name="score">
  </div>
</div>
<div class="form-group row">
  <label for = "poster_url" class="col-sm-2 col-form-label">포스터 이미지 URL</label>
  <div class="col-sm-10">
    <input type="text" name="poster_url">
  </div>
</div>
<div class="form-group row">
  <label for = "description" class="col-sm-2 col-form-label">영화 소개</label>
  <div class="col-sm-10">
    <textarea name="description" cols="100" rows="10"></textarea>
  </div>
</div>
  <input type="submit" class="btn btn-primary mb-2">
</form>

<hr>
<a href="{% url 'movies:index' %}">[BACK]</a>
{% endblock %}